<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Input1" value="." />  
    <add key="Input2" value="master" />
    <add key="Input3" value="SCM" />
    <add key="Input4" value="" />
    <add key="DBType" value="SQL Server" />
  <!--注意：数据库类型仅支持SQL Server 、MySQL 、Oracle,其他字符为无效字符串-->
  <!-- 
  以上四个Input根据不同的数据库类型有不同的含义。
  若DBType 为 SQL Server 则分别表示 数据源 默认数据库 登录名和密码




   -->
  </appSettings>
</configuration>