<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataSource" value="." />
    <add key="InitialCatalog" value="master" />
    <add key="UserID" value="su" />
    <add key="Password" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>